.footer{

    padding: 2rem 6rem;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(238, 238, 238);
}

.logo{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
}

.footer-text{
    font-size: 18;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
