p{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.main-paper{
    border-radius:100px;
    margin-right:auto;
    margin-left:auto;
    margin-top:10px;
    margin-bottom:10px;
    width: 500px;
}

.paper{
    width:400px;
}

.icon{
    cursor:pointer;
}
.divider{
    width:300px;
}

.icon-kirsan,
.divider-kirsan{
    color:green;
}

.github-icon-kirsan{
    margin-left: 100px;
}

.linkedin-icon-kirsan{
    margin-left:10px;
}

.icon-louis,
.divider-louis{
    color:red;
}

.github-icon-louis{
    margin-left:100px;
}
.linkedin-icon-louis{
    margin-left:10px;
}

.icon-valentin,
.divider-valentin{
    color:orange;
}
.github-icon-valentin{
    margin-left:105px;
}

.linkedin-icon-valentin{
    margin-left: 10px;
}
.typography-activities{
    color:grey;
}