* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var( --color-bg);
    min-width: 350px;
    
}

a {
    color: unset;
    text-decoration: none;
}

.App{
    background-color: rgb(255, 255, 255);
}