@import url("https://fonts.google.com/specimen/Montserrat");

:root {
  --font-family: "Montserrat", sans-serif;

  --color-text: #000000;
}

#root {
  text-align: center;
}

.form-card {
  width: fit-content;
  padding: 3%;
  background-color: #f8f8ff;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: black;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  font-weight: 600;
}
